@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start edit search in MyCourse */
input[type="text"]:focus ~ .input-text {
  @apply text-color-primary transform -translate-y-4 md:-translate-y-5 -translate-x-2 md:-translate-x-4 bg-gradient-to-b from-color-layer to-white scale-75;
}
/* End edit search in MyCourse */

/* Start Checkbox Styling */
.checkbox-label {
  @apply block relative cursor-pointer text-base leading-6 h-8 w-8;
}

.checkbox-label input {
  @apply absolute cursor-pointer opacity-0;
}

.checkbox-label .checkbox-custom {
  @apply absolute top-0 left-0  h-8 w-8 bg-slate-200 rounded-xl transition-all duration-300 border-[3px] border-slate-300 shadow-sm;
}

.checkbox-label input:checked ~ .checkbox-custom {
  @apply bg-primary border-2 border-color-layer rotate-0 scale-100 opacity-100;
}

.checkbox-label .checkbox-custom::after {
  content: "";
  @apply absolute left-4 top-4 w-0 h-0 rounded-xl border-b-2 border-r-2 rotate-0 scale-100 opacity-100 transition-all duration-300;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  @apply rotate-45 scale-125 opacity-100 left-3 top-[6px] w-[6px] h-3 border-b-2 border-r-2 border-white bg-transparent;
}

/* End Checkbox Styling */
